@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
*{/*we are selecting all the elements*/
    padding: 0;
    margin: 0;/*"In CSS, a margin is the space around an element's border, while padding is the space between an element's border and the element's content. Put another way, the margin property controls the space outside an element, and the padding property controls the space inside an element.; "that's from google because I always 
    forget the difference.*/
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: rgb(62, 128, 0);
    height: 80px;/*largeur de la bande de nav*/
    width: 100%;
}
label.logo{
    color:whitesmoke;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Waterfall', cursive;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;/* top and bottom=0 though right and left =5*/
}
nav ul li a{
    color: whitesmoke;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a:hover{
    background:rgb(80, 199, 145);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:beige;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    /*display: none;*/
}
#check{
    display: none;
}
@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(129, 199, 80);
        top: 60px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color:chartreuse;
    }
    #check :checked ~ ul{
        left:0;
    }
}
section{
    background: url(Picture1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}