@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
*{/*we are selecting all the elements*/
    padding: 0;
    margin: 0;/*"In CSS, a margin is the space around an element's border, while padding is the space between an element's border and the element's content. Put another way, the margin property controls the space outside an element, and the padding property controls the space inside an element.; "that's from google because I always 
    forget the difference :) */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/Picture4.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

    /*background: rgb(62, 128, 0);
    height: 80px;largeur de la bande de nav
    width: 100%;*/
}
.logo{
    width: 150px;
    color:whitesmoke;
    font-size: 30px;
    /*
    line-height: 80px;
    padding: 0 100px;*/
    font-weight: bold;
    font-family: 'Waterfall', cursive;
}
.nav-links{
    flex: none;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.nav-links ul li ::after{
    content: "";
    width: 0%;
    height: 2px;
    background:#f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
    width: 100%;
}
/*.burger div{
    width: 25px;
    height: 5px;
    background-color: aliceblue;
    margin: 5px;
}
/*.burger{
    display:none;*/

